*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.title h1{
    color: black;
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
}

.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   /*  place-items: center; */
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div{
    padding: 20px;
    border: 1px solid #000000;
}

.container .header,
.container .footer{
    background-color: #1e272e;
    color: #ffffff;
    grid-column: 1/6;
}

.container > .content{
    /* grid-column: span 3; */
    place-items: center;
    grid-column: 1/4;
    display: grid;
    gap: 0.8em;
    grid-template-columns: repeat(3, 1fr);
    
}

.content > .post{
    border: 1px solid #000000;
}

main .post {
    transition: all 0.3s ease;
    background-color: rgb(180, 180, 180);
    border-radius: 0.5rem;
    cursor: pointer;
}

main .post:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

main .post h2, main .post p{
    margin: 1rem;
    text-align: center;
}

main img{
    border: 2.5px solid #502525;
    height: 200px;
    width: 200px;
    margin: 0 auto; /* Esto centrará la imagen horizontalmente */
    display: block; /* Esto asegura que el margin funcione correctamente */
}

.container .sidebar{
    grid-column: span 2;
    background: #485460;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .sidebar img{
    margin-top: 5px;
}

.container > .relatedpost{
    background: #485460;
    color: white;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container > .relatedpost:hover{
    cursor: pointer;
    color: #000000;
    background: white;
}


