*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.title h1{
    color: black;
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
}

.container{
    display: grid;
    height: 100vh;
    /* width: clamp(200px, 100%, 900px); */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

   /*  grid-template-columns: repeat(auto-fill, minmax(minmax(100%, 5rem),1fr)); */
   /*  grid-auto-flow: dense; */

    grid-template-areas: 
        "header header header"
        "sidebar-search page sidebar"
        "sidebar-search pagination sidebar"
        "more-post more-post more-post"
        "footer footer footer";
}

.container .header{
    background-color: #1e272e;
    color: #ffffff;
    grid-area: header;
}

.container .page{
    grid-area: page;
}

.container > .page > .content{
    display: grid;
    gap: 0.8em;
    grid-template-columns: repeat(3, 1fr);
    /* place-content: center; */
}


.container .sidebar-search{
    background: #EBF5FB;
    color: black;
    grid-area: sidebar-search;
}

.container .sidebar{
    background: #EBF5FB;
    color: black;
    grid-area: sidebar;
}

.container .pagination{
    grid-area: pagination;
}

.container .relat{
    grid-area: more-post;
}

.container .footer{
    background-color: #1e272e;
    color: #ffffff;
    grid-area: footer;
}

.content > .post{
    border: 1px solid #000000;
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div,
.container .relat{
    padding: 20px;
    border: 1px solid #000000;
}


main .post {
    transition: all 0.3s ease;
    background-color: #D6EAF8;
    border-radius: 0.5rem;
    cursor: pointer;
}

main .post:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

main .post h2, main .post p{
    margin: 1rem;
    text-align: center;
}

main img{
    border: 2.5px solid #2E86C1;
    height: 200px;
    width: 200px;
    margin: 0 auto; /* Esto centrará la imagen horizontalmente */
    display: block; /* Esto asegura que el margin funcione correctamente */
}

.container .sidebar img{
    margin-top: 5px;
}

.relat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.relat > .relatedpost{
    background: #485460;
    color: white;
    height: 180px;
    width: 190px;
    transition: all 0.5s ease;
}

.relat > .relatedpost:hover{
    cursor: pointer;
    color: #000000;
    background: white;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.pagination {
    text-align: center;
}

.pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #485460;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}